# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [183]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.to_csv("Resources/schools_data_complete.csv", index=True)
school_data_complete.head()

AttributeError: 'DataFrame' object has no attribute 'orderby'

## District Summary

In [2]:
student_name = (school_data_complete["student_name"])
student_name

0             Paul Bradley
1             Victor Smith
2          Kevin Rodriguez
3        Dr. Richard Scott
4               Bonnie Ray
               ...
39165         Donna Howard
39166            Dawn Bell
39167       Rebecca Tanner
39168         Desiree Kidd
39169      Carolyn Jackson
Name: student_name, Length: 39170, dtype: object

In [3]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].unique().size
print(school_count)

15

In [4]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].size
print(student_count)

39170

In [5]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [6]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count], "Total Budget":[total_budget],
                                 "Average Math Score":[average_math_score], "Average Reading Score":[average_reading_score],
                                 "% Passing Math":[passing_math_percentage], "% Passing Reading":[passing_reading_percentage],
                                 "% Overall Passing":[overall_passing_rate]})

# # Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [193]:
# Use the code provided to select the school type

school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [184]:
# Calculate the total student count
school_data = school_data.sort_values(by="school_name")
per_school_counts = school_data.set_index(["school_name"])["size"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [185]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
print(per_school_budget, per_school_capita)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64 school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [186]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"].reset_index(name="math_score")
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"].reset_index(name="reading_score")
print (per_school_math)
print(per_school_reading)

              school_name  math_score
0      Bailey High School   77.048432
1     Cabrera High School   83.061895
2    Figueroa High School   76.711767
3        Ford High School   77.102592
4     Griffin High School   83.351499
5   Hernandez High School   77.289752
6      Holden High School   83.803279
7       Huang High School   76.629414
8     Johnson High School   77.072464
9        Pena High School   83.839917
10  Rodriguez High School   76.842711
11    Shelton High School   83.359455
12     Thomas High School   83.418349
13     Wilson High School   83.274201
14     Wright High School   83.682222
              school_name  reading_score
0      Bailey High School      81.033963
1     Cabrera High School      83.975780
2    Figueroa High School      81.158020
3        Ford High School      80.746258
4     Griffin High School      83.816757
5   Hernandez High School      80.934412
6      Holden High School      83.814988
7       Huang High School      81.182722
8     Johnson High School      80.966394
9        Pena High School      84.044699
10  Rodriguez High School      80.744686
11    Shelton High School      83.725724
12     Thomas High School      83.848930
13     Wilson High School      83.989488
14     Wright High School      83.955000

In [187]:
# Calculate the number of schools with math scores of 70% or higher.
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_passing_math_count = len (per_school_math[(per_school_math["math_score"] >= 70)])
school_passing_math_count

15

In [188]:
# Calculate the number of schools with reading scores of 70 or higher.
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_passing_reading_count = len (per_school_reading[(per_school_reading["reading_score"] >= 70)])
school_passing_reading_count

15

In [189]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 80)
]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130

In [190]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100#overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_math, per_school_passing_reading, overall_passing_rate

(school_name
 Bailey High School       66.680064
 Cabrera High School      94.133477
 Figueroa High School     65.988471
 Ford High School         68.309602
 Griffin High School      93.392371
 Hernandez High School    66.752967
 Holden High School       92.505855
 Huang High School        65.683922
 Johnson High School      66.057551
 Pena High School         94.594595
 Rodriguez High School    66.366592
 Shelton High School      93.867121
 Thomas High School       93.272171
 Wilson High School       93.867718
 Wright High School       93.333333
 dtype: float64,
 school_name
 Bailey High School       81.933280
 Cabrera High School      97.039828
 Figueroa High School     80.739234
 Ford High School         79.299014
 Griffin High School      97.138965
 Hernandez High School    80.862999
 Holden High School       96.252927
 Huang High School        81.316421
 Johnson High School      81.222432
 Pena High School         95.945946
 Rodriguez High School    80.220055
 Shelton High School      95.854628
 Thomas High School       97.308869
 Wilson High School       96.539641
 Wright High School       96.611111
 dtype: float64,
 school_name
 Bailey High School       36.314309
 Cabrera High School      58.611410
 Figueroa High School     34.655816
 Ford High School         35.523914
 Griffin High School      60.626703
 Hernandez High School    36.677454
 Holden High School       62.529274
 Huang High School        34.590333
 Johnson High School      36.126864
 Pena High School         60.498960
 Rodriguez High School    34.783696
 Shelton High School      60.533788
 Thomas High School       60.489297
 Wilson High School       59.483136
 Wright High School       60.888889
 dtype: float64)

In [194]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(school_types)
per_school_summary = per_school_summary.merge(per_school_counts, how="left", on=["school_name"])

# Formatting
per_school_summary = per_school_summary.rename (columns = {"type": "School Type", 
                                                            "size": "Total Students"})
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary.
per_school_summary

                      School Type  Total Students
school_name
Bailey High School       District            4976
Cabrera High School       Charter            1858
Figueroa High School     District            2949
Ford High School         District            2739
Griffin High School       Charter            1468
Hernandez High School    District            4635
Holden High School        Charter             427
Huang High School        District            2917
Johnson High School      District            4761
Pena High School          Charter             962
Rodriguez High School    District            3999
Shelton High School       Charter            1761
Thomas High School        Charter            1635
Wilson High School        Charter            2283
Wright High School        Charter            1800

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

## Math Scores by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary